/dist
/tmp
/out-tsc

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

.lock-wscript

.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.sass-cache
connect.lock
typings

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules/
jspm_packages/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env

.next

lerna-debug.log

.DS_Store
Thumbs.db

temp